<!DOCTYPE html>
<html>
<head>
  <title>About Me</title>
</head>
<body>
<div class="container">
  <div class="card text-center about-me-card">
    <div class="card-header">
      <h3>About Me, Bitches</h3>
    </div>
    <p>Bug bites and bruises was born on a sailing trip in the British Virgin Islands. My husband had taken up sailing with the idea that we might retire on a sailboat. I took just enough classes to be his first mate and know how to save him if the man went overboard and wasn’t entirely sure I would like living on a boat. I’m clumsy on my best days on solid ground and by day 2 or 3 (days flow by without notice when on a boat), I looked at my battered mosquito-eaten body and exclaimed “If we ever have a sailboat it must be named Bug Bights and Bruises!” If you’ve spent time in a marina you will know that like hair salons, the cheesier the pun in the name the better. And if you’ve spent time on a boat you’ll know that the bight is the turn in the line or a curve of the coast line. Sea punny! We still don’t have a sailboat, but we started this blog to chronicle our travels and share any tips, tricks, or wonderful experiences we have had.</p>
  </div>
</div>
</body>
</html>