<h1>This is the show page</h1>

<%= @blog.title %>
<%= @blog.body %>
<%= image_tag @blog.main_photo %>
<%= link_to 'Destroy', blog_path(@blog), method: :delete, data: { confirm: "Are you sure you want to remove this?"} %>