<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div class="container">
    <h1>States</h1>
      <% @states.each do |state| %>
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <div class="row">
            <div class="col-lg-6">
            <%= link_to state.name, state_path(state) %>
          </div>
          <div class="col-md-6">
            <% if logged_in?(:user) %>
            <%= link_to "Edit", edit_state_path(state) %>
            <%= link_to "Destroy", state, method: :delete, data: { confirm: "Are you sure you want to delete this state?"} %>
            <% end %>
          </div>
          </div>
        </div>
      </div>
            <% end %>
</div>
</body>
</html>

