<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <table>
    <tr>
      <% @countries.each do |country| %>
        <th><%= link_to country.name, country_path(country) %></th>
    </tr>
    <tr>
        <% country.states.each do |state| %>
          <td><%= link_to state.name, controller: 'states', action: "show", id:state  %></td>
    </tr> 


        <% end %>
      <% end %>
</table>
</body>
</html>
