@import "bootstrap";

body {
  top: 50%;
  left: 50%;
  background: url('the-sail-boat.jpg') no-repeat;
  background-attachment:fixed;
  background-size:cover;
  overflow: scroll;
}

.nav-item a  {
  margin: 10px;
}

.card {
  left: 0;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 100%;
}

.about-me-card {
  max-width: 50%
}

p {
  padding: 2%;

}