@import "bootstrap";


.form-group {

  padding: 1%;
}

.nav-item a  {
  margin: 10px;
}

.card {
  left: 0;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 50%;
}

.form-group .card {
  padding: 10%;
  left: 0;
  margin: auto;
  width: 80%;
}

.form-control {
  padding: 5%;
  margin: 5%;
}

.save-button {
  left: 0;
  margin: auto;
  padding: 5px;
}