@import "bootstrap";

body {
  top: 50%;
  left: 50%;
  background: url('the-sail-boat.jpg') no-repeat;
  background-attachment:fixed;
  background-size:cover;
  overflow: scroll;
}



.form-group {

  padding: 1%;
}

.nav-item a  {
  margin: 10px;
}


.card {


  left: 0;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 50%;
}
.card-body {
 opacity: .4;  
}

.form-group .card {
  padding: 10%;
  left: 0;
  margin: auto;
  width: 80%;
}

.form-control {
  padding: 5%;
  margin: 5%;
}

.save-button {
  left: 0;
  margin-left: 500%;
  padding: 5px;
}

.show_card {
  max-width: 25%;
}

.country_card {
  max-width: 30%;
}
.country_state_select {
  max-width: 40%;
}

.carousel-inner {
  left: 0;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 50%;
  
}